# Week 10 â€” Group Session: Advanced SQL and Integration

## Objectives- Collaborate on complex queries.- Use transactions and error handling.- Integrate SQL with Python functions.

### Activity 1: Join with Aggregation

In [ ]:
import sqlite3conn = sqlite3.connect(':memory:')cur = conn.cursor()cur.executescript('''
CREATE TABLE users (id INTEGER PRIMARY KEY, name TEXT);
CREATE TABLE orders (id INTEGER PRIMARY KEY, user_id INTEGER, total REAL);
INSERT INTO users (name) VALUES ('Ana'),('Bob'),('Cara');
INSERT INTO orders (user_id, total) VALUES (1, 10.0),(1, 15.0),(2, 9.0),(3, 25.0),(3, 10.0);
''')conn.commit()cur.execute('SELECT u.name, COUNT(o.id), SUM(o.total) FROM users u LEFT JOIN orders o ON u.id = o.user_id GROUP BY u.id')print(cur.fetchall())

**Task:** Return users with no orders as zero-count rows explicitly.

In [ ]:
pass

### Activity 2: Transactions and Error Handling

In [ ]:
def add_order(conn, name, total):    try:        cur = conn.cursor()        cur.execute('BEGIN')        cur.execute('SELECT id FROM users WHERE name = ?', (name,))        row = cur.fetchone()        if not row:            cur.execute('INSERT INTO users (name) VALUES (?)', (name,))            user_id = cur.lastrowid        else:            user_id = row[0]        cur.execute('INSERT INTO orders (user_id, total) VALUES (?, ?)', (user_id, total))        conn.commit()        return True    except Exception:        conn.rollback()        return Falseprint(add_order(conn, 'Dana', 12.5))

**Task:** Report total orders per user after multiple inserts in a single transaction.

In [ ]:
pass

### Collaboration GuideRoles: Query Author, Integrator, Tester.